<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.subject.dao.ExpenseMapper">
    <resultMap id="expenseDetail" type="com.example.subject.dto.ExpenseDetail">
        <result property="expenseId" column="expense_id"/>
        <result property="expense" column="expense"/>
        <result property="useDate" column="use_date"/>
        <result property="usageType" column="usage_type" typeHandler="com.example.subject.infra.mybatis.CodeEnumTypeHandler"/>
        <result property="approvalExpense" column="approval_expense"/>
        <result property="processingDate" column="processing_date"/>
        <result property="processingState" column="processing_State" typeHandler="com.example.subject.infra.mybatis.CodeEnumTypeHandler"/>
        <result property="message" column="message"/>
    </resultMap>

<!--     private Long expenseId;
    private LocalDate useDate;
    private UsageType usageType;
    private int expense;
    private int approvalExpense;
    private ProcessingState processingState;
    private LocalDate regDate;-->

    <resultMap id="expenseSearchResult" type="com.example.subject.dto.ExpenseSearchResult">
        <result property="useDate" column="use_date"></result>
        <result property="expense" column="expense"></result>
        <result property="approvalExpense" column="approval_expense"></result>
        <result property="processingState" column="processing_state"  typeHandler="com.example.subject.infra.mybatis.CodeEnumTypeHandler"></result>
        <result property="usageType" column="usage_type" typeHandler="com.example.subject.infra.mybatis.CodeEnumTypeHandler"/>
        <result property="regDate" column="reg_date"></result>

    </resultMap>


    <insert id="save" useGeneratedKeys="true" keyProperty="expenseId" parameterType="Expense">
        INSERT INTO expense(use_date, expense, reg_date, usage_type, processing_state)
        VALUES (#{useDate}, #{expense}, curdate(), #{usageType.code}, '0')
    </insert>

    <select id="getExpenseDetail" resultMap="expenseDetail">
        SELECT expense_id, expense, processing_state, approval_expense, message, usage_type, use_date, processing_date
        FROM expense
        WHERE expense.expense_id = #{expenseId}
    </select>
    <select id="getCurrentExpenseId" resultType="java.lang.Long">
        SELECT SCOPE_IDENTITY()
    </select>

    <select id="searchByExpense" parameterType="com.example.subject.dto.SearchCondition" resultMap="expenseSearchResult" >
        SELECT expense_id, use_date, expense, approval_expense, processing_state, usage_type, reg_date
        FROM expense
        WHERE reg_date BETWEEN #{startRegDate} AND #{endRegDate}
            <if test="usageType != null">
                AND usage_type = #{usageType.code}
            </if>
            <if test="processingState != null">
                AND processing_state = #{processingState.code}
            </if>
    </select>


</mapper>