<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.subject.dao.ExpenseMapper">
    <resultMap id="expenseDetail" type="com.example.subject.dto.ExpenseDetail">
        <result property="expenseId" column="expense_id"/>
        <result property="expense" column="expense"/>
        <result property="useDate" column="use_date"/>
        <result property="usageType" column="usage_type" typeHandler="com.example.subject.infra.mybatis.CodeEnumTypeHandler"/>
        <result property="approvalExpense" column="approval_expense"/>
        <result property="processingDate" column="processing_date"/>
        <result property="processingState" column="processing_State" typeHandler="com.example.subject.infra.mybatis.CodeEnumTypeHandler"/>
        <result property="message" column="message"/>
    </resultMap>

<!--    @Data-->
<!--    public class ExpenseFormDto {-->
<!--    private int expense;-->
<!--    private UsageType usageType;-->
<!--    //    private int processing_state;-->
<!--    @DateTimeFormat(pattern = "yyyy-MM-dd")-->
<!--    private LocalDate useDate;-->
<!--    //    private LocalDate regDate;-->
<!--    private MultipartFile receiptImage;-->

<!--    }-->
<!--    <parameterMap id="expenseFormDto" type="com.example.subject.dto.ExpenseFormDto">-->
<!--        <parameter property=""-->
<!--    </parameterMap>-->
<!--    <resultMap id="expenseFormDto" type="com.example.subject.dto.ExpenseFormDto">-->
<!--        <result property="expenseId" column="expense_id" ></result>-->
<!--        <result property="expense" column="expense"></result>-->
<!--        <result property="useDate" column="use_date"></result>-->
<!--        <result property="usageType" column="usage_type" typeHandler="com.example.subject.infra.mybatis.CodeEnumTypeHandler"></result>-->
<!--    </resultMap>-->


    <resultMap id="expenseSearchResult" type="com.example.subject.dto.ExpenseSearchResult">
        <result property="useDate" column="use_date"></result>
        <result property="expense" column="expense"></result>
        <result property="approvalExpense" column="approval_expense"></result>
        <result property="processingState" column="processing_state"  typeHandler="com.example.subject.infra.mybatis.CodeEnumTypeHandler"></result>
        <result property="usageType" column="usage_type" typeHandler="com.example.subject.infra.mybatis.CodeEnumTypeHandler"/>
        <result property="regDate" column="reg_date"></result>

    </resultMap>


    <insert id="save" useGeneratedKeys="true" keyProperty="expenseId" parameterType="Expense">
        INSERT INTO expense(use_date, expense, reg_date, usage_type, processing_state)
        VALUES (#{useDate}, #{expense}, curdate(), #{usageType.code}, '0')
    </insert>



    <update id="update" >
        UPDATE expense
            <set>
            <if test="usageType != null">
                usage_type = #{usageType.code},
            </if>
            <if test="useDate != null">
                use_date = #{useDate},
            </if>
            <if test="expense != null">
                expense = #{expense}
            </if>
            </set>
            WHERE expense_id = #{expenseId}
    </update>

    <select id="getExpenseDetail" resultMap="expenseDetail">
        SELECT e.expense_id, e.usage_type, e.expense, e.use_date, e.processing_state, e.processing_date, e.approval_expense, e.message,
               f.original_name, f.file_name, f.file_id
        FROM expense e
        JOIN file f on e.expense_id = f.expense_id
        WHERE e.expense_id = #{expenseId}
    </select>
    <select id="getCurrentExpenseId" resultType="java.lang.Long">
        SELECT SCOPE_IDENTITY()
    </select>

    <select id="searchByExpense" parameterType="com.example.subject.dto.SearchCondition" resultMap="expenseSearchResult" >
        SELECT expense_id, use_date, expense, approval_expense, processing_state, usage_type, reg_date
        FROM expense
        WHERE reg_date BETWEEN #{startRegDate} AND #{endRegDate}
            <if test="usageType != null">
                AND usage_type = #{usageType.code}
            </if>
            <if test="processingState != null">
                AND processing_state = #{processingState.code}
            </if>
    </select>

    <delete id="deleteExpense" parameterType="long">
        DELETE
        FROM expense
        WHERE expense_id = #{expenseId}
    </delete>

</mapper>