* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: #3f464d;
}

header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table tbody tr {
    cursor: pointer;
}

section {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.main {
    height: 360px;
    background-size: cover;
    background-position: center 10%;
    background-repeat:  no-repeat;
    z-index: 1;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color:  rgb(47, 48, 89);
    opacity: 0.8;
    z-index: 2;
    margin-top: 60px;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.table-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*button {*/
/*    border: 2px solid #ffffff;*/
/*    border-radius: 8px;*/
/*    background: darkgray;*/
/*    padding: 15px 40px;*/
/*    color: #ffffff;*/
/*    font-size: 1.25rem;*/
/*    cursor: pointer;*/
/*    transition: all 150ms ease-in-out;*/
/*}*/
button {

}
.table-button-container{
    display: flex;
    /*min-height: 0px;*/
    /*justify-content: center;*/
}

